.logo{
  width: 40px;
  height: 40px;
  @media(min-width:576px) {
  width: 53px;
  height: 53px;
}
}
.header-end a:hover{
  color: #9C9E18;
}
.search-bar{
  width: 207px;
  @media(min-width:576px) {
    width: 335px;
  }
}
.search-line-height{
  line-height: 1.25;
  @media(min-width:576px) {
  line-height: 1.5;
  }

}
.search-icon {
    width: 40px;
    height: 40px;
  @media(min-width:576px) {
    width: 55px;
    height: 55px;
  }
}
.collapsed-menu{
  display: none;
}
.collapse-menu-items{
  top: 66px;
  display: block;
  @media(min-width:576px) {
    top: 106px;
  }
  @media(min-width:992px) {
      display: none;
    }
}
.hamburger{
  width: 30px;
  height: 30px;
}
.opened-menu{
  display: none;
}
.collapsed-menu{
  display: block;
}

@media(min-width:992px) {
  .opened-menu{
    display: block;
  }
  .collapsed-menu{
    display: none;
  }
}

@media(max-width:992px) {

  .lg-mx-25{
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media(min-width:375px){

}







