.card-footer a:hover{
text-decoration: underline;
}

.catagory a:hover {
  color: $primary;
}
.card>img{
  height: 210px;
  object-fit: cover;
  @media(min-width:768px) {
    height: 255px;
  }
}
// .hover-pseudo {
//   position:relative;
//   z-index:5;
// }
// .hover-pseudo::before{
//   content:"";
//   position:absolute;
//   background-color: $secondary !important;
//   top: 0;
//   left: 0;
//   width: 30px;
//   height: 30px;
//   border-radius: 50%;
//   opacity:0;
//   z-index: 1;
// }
// .hover-pseudo:hover::before {
//   opacity: 1;
// }
.hover-pseudo{
  width: 76px;
  height: 29px;
  border-radius: 50%;
  background: $secondary;
  position:relative;
  z-index:100;
}
.hover-pseudo::before{
  position:absolute;
  content:"";
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: green;
  top:0;
  left:0;
  opacity:0;
  z-index:2
}
.hover-pseudo:hover::before{
  position:absolute;
  content:"";
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: yellow;
  top:0;
  left:0;
  opacity:0.5;
  z-index:2;
}

.index-title {
  font-size: 100px;
}
.cover{
  height: 518px;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/13.jpg?raw=true);
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center;
}
.card-icon{
  width: 24px;
}
.cata-icon{
  width: 40px;
  height: 40px;
  @media(min-width:992px) {
    width: 80px;
    height: 80px;
  }
}

.py-34{
  padding-top: 34px;
  padding-bottom: 34px;
}
.body-color{
  color: #f3f1e5;
}
.chatgpt-img{
  height: 158px;
  object-fit: cover;
  object-position: 0px 33%;
  @media(min-width:576px) {
    max-height: 410px;
    height:100%;
  }
}

.item img{
  object-fit: cover;
  height: 274px;
}
.p-transform{
  transform:translate(-50%,-50%) rotate(-4deg);
}
.album {
  padding-left: 10px;
  padding-right: 10px;
}

.album li{
  &:nth-child(2n){
    transform:rotate(2deg);
  }
  &:nth-child(3){
    transform:rotate(-2deg);
  }
}
.btn:hover{
  color: $secondary;
}
// span:hover{
//   background: ;
//   color: white;
// }

.chatgpt a:hover{
  background: $primary;
  color: white;
}
//運用偽元素達成tag左側較粗邊線
.tag::before {
  content:"";
  border-color: $primary;
  border-style: solid;
  border-width: 0px 0px 0px 4px;
  padding: 6px;
  position:relative;
  left:-1px;
}
//運用偽元素達成tag左側較粗邊線
//運用偽元素達成tag左側邊線hover變色
.tag:hover::before{
  border-color: $secondary;
}
//運用偽元素達成tag左側邊線hover變色


// .tag::before {
//   content: "";
//   position: absolute;
//   border-color: #009933;
//   border-style: solid;
//   border-width: 0 0.3em 0.25em 0;
//   height: 1em;
//   top: 1.3em;
//   left: 0.6em;
//   margin-top: -1em;
//   transform: rotate(45deg);
//   width: 0.5em;
// }

@media(min-width:576px) {
  .md-fs-5 {
    font-size: 24px !important;
  }
}
@media(min-width:768px) {
  .md-border-end-0{
    border-right: 0 !important;
  }
}