.index-title {
  font-size: 100px;
}
// .title {
//   font-family: 'Yeseva One', cursive;
// }



// .subtitle{
//   font-family: 'Noto Serif TC', serif;
// }
.cover{
  height: 518px;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/13.jpg?raw=true);
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center;
}
.card-icon{
  width: 24px;
}
// .cata-item{
//   padding: 35px 58px;
// }
.cata-icon{
  width: 80px;
  height: 80px;
}