.match-page-height{
  height: calc(100vh - 229px) !important;
  padding-top: 28px;
}

.login-sparkler {
    width: 31px;
}

.fieldtext-878787{
    color: #878787;
}

/* 通過驗證樣式 */
.was-validated .form-control:valid,
.was-validated .form-control:valid:focus {

  box-shadow: none;
  background-image: none;
}
/* 未通過驗證樣式 */
.was-validated .form-control:invalid,
.was-validated .form-control:invalid:focus {
  background-color: $body-bg;
  background-image: none;
  border-color: #C96464 !important;
}