<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/images/icofont/icofont.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC:wght@700&family=Yeseva+One&display=swap" rel="stylesheet">
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

<div class="container">
  <div class="cover text-light d-flex flex-column justify-content-between mb-11">
    <p class="fs-2 line-height-md title ps-11 pt-11">19 MAY 2023</p>
    <div>
      <p class="fs-5 noto-tc-serif text-center mb-3">隔牆有耳-沒有草東的派對</p>
      <p class="col-lg-8 ms-auto me-auto text-center mb-7">你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！
        帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
    </div>
  </div>
  <div class="catagory mb-11">
    <ul class="row gx-3 list-unstyled fs-5 noto-tc-serif">
      <li class="col-2"><a class="d-block border border-primary py-9" href=""><img class="cata-icon d-block mx-auto" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate01.svg" alt="music icon"><p class="text-center pt-3">演出</p></a></li>
      <li class="col-2"><a class="d-block border border-primary py-9" href=""><img class="cata-icon d-block mx-auto" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate02.svg" alt="music icon"><p  class="text-center pt-3">聯誼</p></a></li>
      <li class="col-2"><a class="d-block border border-primary py-9" href=""><img class="cata-icon d-block mx-auto" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate03.svg" alt="music icon"><p  class="text-center pt-3">展覽</p></a></li>
      <li class="col-2"><a class="d-block border border-primary py-9" href=""><img class="cata-icon d-block mx-auto" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate04.svg" alt="music icon"><p  class="text-center pt-3">美食</p></a></li>
      <li class="col-2"><a class="d-block border border-primary py-9" href=""><img class="cata-icon d-block mx-auto" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate05.svg" alt="music icon"><p  class="text-center pt-3">戶外</p></a></li>
      <li class="col-2"><a class="d-block border border-primary py-9 px-11 bg-primary" href=""><p class="fs-3 text-secondary line-height-md mb-0">探索更多</p></a></li>
    </ul>
  </div>
  <div class="title d-flex justify-content-between align-items-center border border-primary border-3 px-8 py-7">
    <p class="fs-1">RECENT</p>
    <p class="fs-4 noto-tc-serif">近期活動</p>
  </div>
  <div class="card border-0 col-4 bg-transparent mb-11">
    <div class="fs-3 title border-bottom border-3 border-primary mb-3">19 MAY 2023</div>
    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/01.jpg?raw=true" class="card-img-top" alt="scared people" />
    <div class="card-body pt-3 pb-0 ps-0 pe-0">
      <h5 class="card-title noto-tc-serif mb-3">邪典電影派對——房間</h5>
      <p class="card-text mb-5">
        你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...
      </p>
      <div class="card-footer bg-transparent d-flex border-top border-bottom border-2 border-primary pt-2 pb-2 pe-0 ps-0 justify-content-between">
        <div class="d-flex">
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" class="card-icon" alt="" />
        <p class="mb-0 subtitle">社群活動</p>
        </div>
        <button class="border-0 font-weight-bold bg-transparent" data-bs-toggle="modal" data-bs-target="#memberModal">開賣中<i class="icofont-rounded-double-right"></i></button>
      </div>
    </div>
  </div>

</div>
    <!-- Modal 按鈕 -->
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      打開 modal
    </button> -->

    <!-- Modal 元件 -->
    <div
      class="modal fade"
      id="memberModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content bg-body">
          <div class="modal-header border-bottom border-primary border-3 ">
            <p class="modal-title text-center py-5 fs-5 fw-bold noto-tc-serif" id="exampleModalLabel">立刻成為7TAO會員</p>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center pt-11 pb-7">立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。<br>
            您也可以先報名活動，日後再註冊帳號，<br>
            系統會在認證您的Email後，協助您找回舊的訂單。</div>
          <div class="modal-footer  pb-11 pt-0 border-0">
            <button type="button" class="btn btn-primary text-secondary mx-auto my-0">立即成為會員</button>
          </div>
        </div>
      </div>
    </div>





    <!-- Modal 元件示範 -->    
    <!-- <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">內容</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div> -->

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
