<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/images/icofont/icofont.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC:wght@700&family=Yeseva+One&display=swap" rel="stylesheet">
    <title>login</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container match-page-height">
        <div class="col col-sm-6 col-lg-4 mx-auto  fs-6 ">
            <img class="login-sparkler mx-auto d-block" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="sparkler icon">
            <p class="fs-5 my-5 text-center">會員登入</p>
            <form class="needs-validation" action="" novalidate>
                <div class="username mb-5">
                    <label class="form-label fs-8" for="username">帳號</label>
                    <input class="form-control fs-6 fieldtext-878787 border border-2 border-primary bg-body" id="username" type="text" placeholder="請輸入帳號" required>
                    <div class="invalid-feedback">
                        請輸入帳號
                    </div>
                </div>
                <div class="password mb-7 mb-md-8">
                    <label class="form-label fs-8" for="password">密碼</label>
                    <input class="form-control fs-6 fieldtext-878787 border border-2 border-primary bg-body" id="password" type="password" placeholder="請輸入密碼" required>
                    <div class="invalid-feedback">
                        請輸入密碼
                    </div>
                </div>
                <button class="btn btn-primary w-100 py-2 " type="summit">登入<i class="icofont-rounded-double-right"></i></button>
            </form>
        </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="module" src="../main.js"></script>

    <script>
    $('.needs-validation').each(function(index) {
        $(this).on('submit', function(e) {
          e.preventDefault();
          $(this).addClass('was-validated');
        });
      });
    </script>
  </body>
</html>